.sponsors {
  display: block;
  padding: 4em 0;
  text-align: center;
  background-color: #f4f4f4;
}

.sponsors__head {
  margin-bottom: 3em;
  text-transform: uppercase;
}

.sponsors__list {
  padding: 0;
  list-style: none;
}

.sponsors li {
  display: inline-block;
  padding: 0 3%;
}

.footer {
  padding: 2em;
  color: #747474;
  background-color: #212121;
}

.copyright {
  font-size: .9em;
  font-weight: 100;
  width: auto;
  margin: 1em 0 0 4.5em;
  text-align: left;
}

.copyright a {
  text-decoration: none;
  color: #747474;
}

.about {
  font-size: 1em;
  margin-bottom: 4em;
  text-align: center;
}

.about__title {
  font-size: 4em;
  font-weight: 100;
}

.members {
  display: flex;
  margin-bottom: 4em;
  text-align: center;
}

.members__image {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}
