@font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/Lato-Regular-latin-ext.woff2) format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/Lato-Regular-latin.woff2) format('woff2');
}

@font-face {
    font-family: 'Carrington Regular';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Carrington-webfont.eot');
    src: url('../fonts/Carrington-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Carrington-webfont.woff') format('woff'), url('../fonts/Carrington-webfont.ttf') format('truetype'), url('../fonts/Carrington-webfont.svg#carringtonregular') format('svg');
}

html,
button,
input,
select,
textarea,
.pure-g [class *='pure-u'] {
    font-family: 'Lato', sans-serif;
}

.place-explorer {
    position: relative;
    overflow: hidden;
    background: #000;
}

.place-explorer__box {
    background-position: center center;
    height: 16.667vh;
}

@media screen and (min-width:48em) {
    .place-explorer {
        display: flex;
        height: 100vh;
    }
    .place-explorer__box {
        height: 100%;
        transition: 500ms;
        opacity: .5;
    }
}

.place-explorer__box:nth-of-type(1) {
    background-image: url('../img/vector/taman.jpg');
    background-size: cover;
}

.place-explorer__box:nth-of-type(2) {
    background-image: url('../img/vector/guasunyaragi.jpg');
    background-size: cover;
}

.place-explorer__box:nth-of-type(3) {
    background-image: url('../img/vector/keratonkanoman.jpg');
    background-size: cover;
}

.place-explorer__box:nth-of-type(4) {
    background-image: url('../img/vector/makamsunan.jpg');
    background-size: cover;
}

.place-explorer__box:nth-of-type(5) {
    background-image: url('../img/vector/bukitgronggong.jpg');
    background-size: cover;
}

.place-explorer__box:nth-of-type(6) {
    background-image: url('../img/vector/empalgentong.jpg');
    background-size: cover;
}

.place-explorer__box:hover {
    transition: 500ms;
    opacity: 1;
}

.place-explorer__linkable {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url('../img/empty.gif');
}

.place-explorer__splash-container {
    position: absolute;
    z-index: 100;
    top: 40%;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.place-explorer__splash {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    transition: 2750ms;
    text-align: center;
    opacity: 1;
}

.place-explorer__splash-text {
    font-weight: normal;
    line-height: 1;
    position: relative;
    display: inline-block;
    padding: .5em;
    transition: 2750ms;
    text-decoration: none;
    letter-spacing: .1em;
    opacity: 1;
    color: #ecf0f1;
}

.inactive {
    transition: 750ms;
    opacity: .25;
}

.place-explorer__splash-text-effect {
    font-family: 'Carrington Regular', serif;
    font-size: 3em;
    font-style: italic;
    padding: 0 10px 20px;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
}

.place-explorer__splash-text-effect:hover {
    color: #ecf0f1;
}

.place-explorer__splash-text-effect:hover::before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
    -moz-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
    -ms-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
    -o-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
    transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
}

.place-explorer__splash-text-effect span {
    font-family: 'Lato';
    font-size: 20%;
    font-weight: 400;
    position: absolute;
    right: 15px;
    bottom: 0;
    -webkit-transition: -webkit-transform .5s, opacity .5s;
    -moz-transition: -webkit-transform .5s, opacity .5s;
    -o-transition: -webkit-transform .5s, opacity .5s;
    transition: transform .5s, opacity .5s;
    -webkit-transform: translate3d(-10px, -10px, 0);
    -moz-transform: translate3d(-10px, -10px, 0);
    -ms-transform: translate3d(-10px, -10px, 0);
    -o-transform: translate3d(-10px, -10px, 0);
    transform: translate3d(-10px, -10px, 0);
    opacity: 0;
    color: #FFEB3B;
}

.place-explorer__splash-text-effect:hover span {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.place-info__box:nth-of-type(1) {
 background-color: #52B3D9 ;
}

.place-info__box:nth-of-type(2) {
 background-color: #bdc3c7 ;
}

.place-info__box:nth-of-type(3) {
 background-color: #DCC6E0 ;
}

.place-info__box:nth-of-type(4) {
 background-color: #F89406 ;
}

.place-info__box:nth-of-type(5) {
 background-color: #2ecc71 ;
}

.place-info__box:nth-of-type(6) {
 background-color: #36D7B7 ;
}

@media screen and (max-width: 48em) {
  .place-info__image,
  .place-info__map {
    height: 100vh;
  }
}

.place-info__box:nth-of-type(1) .place-info__image {
  background: url('../img/taman.jpg') center center;
}
.place-info__box:nth-of-type(2) .place-info__image {
  background: url('../img/guasunyaragi.jpg') center center;
}
.place-info__box:nth-of-type(3) .place-info__image {
  background: url('../img/keratonkanoman.jpg') center center;
}
.place-info__box:nth-of-type(4) .place-info__image {
  background: url('../img/makamsunan.jpg') center center;
}
.place-info__box:nth-of-type(5) .place-info__image {
  background: url('../img/bukitgronggong.jpg') center center;
}
.place-info__box:nth-of-type(6) .place-info__image {
  background: url('../img/empalgentong.jpg') center center;
}

.place-info__text {
  padding: 3em;
  text-align: justify;
}
.place-info__text-head {
  text-align: center;
}

.place-info__map {
    overflow:hidden;
    position:relative;
}

.place-info__map-disabled {
  pointer-events: none;
}

.place-info__map iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

a.back-to-top {
  text-decoration: none;
  display: block;
  color: #7f8c8d;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  font-size: 3em;
}
